.footer__features ul {
  list-style: none;
}

.footer__features ul li {
  margin-top: 5px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff1f7;
  color: #333;
  padding: 3% 10px;
  margin: 0 auto;
}

.footer__socials > * {
  color: #333;
  margin-left: 7px;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__items {
    margin-top: 20px;
  }
}
