.landingPage__container > * {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .landingPage__container > * {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
}
