@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

h1 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

.main__container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
}
